html, body {
    height: 100%;
}

body {
    display: block;
    margin: 8px;
    font-family: arial, sans-serif;
}

.content {
    min-height: 100%;
    margin: 0 auto -60px;
    padding: 0;
    border: 0;
}

.logo-wrapper {
    left: 0;
    min-width: 1002px;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    display: block;
}

.logo a {
    margin-left: 0!important;
    margin-right: 0!important;
    white-space: nowrap;
    background: #f1f1f1;
    font: 13px/27px Arial,sans-serif;
    position: relative;
    height: 42px;
    width: 100%;
    margin: 0;
    padding-top: 18px;
    border: 0;
    text-decoration: none;
    display: block;
}

.logo a img {
    width: 85px; 
    height: 30px; 
    padding-left: 20px;
    background-position: 0 -35px;
}

.heading {
    color: #d93025;
    font-size: 20px;
    margin: 27px 35px;
    padding-top: 58px;
    border: 0;
    text-decoration: none;
    display: block;
}

.divider {
    border-bottom: 1px solid #ebebeb;
}

.search {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
    display: block;
}

.search-label {
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    color: #222;
    font-size: 13px;
    line-height: 16px;
}

.search-input {
    display: table-cell;
    min-width: 540px;
    min-height: 41px;
    vertical-align: middle;
    width: 75%;
    padding-right: 16px;
}

.search-input input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 100%;
}

.search-button-container {
    display: table-cell;
    min-width: 557px;
    min-height: 41px;
    vertical-align: middle;
    width: 75%;
}

.search-button {
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px 0;
    padding: 0 12px;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-rtl-ordering: logical;
}